<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购买VPN</title>
    <link rel="icon" href="https://bornforthis.cn/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='purchase.css') }}">
</head>
<body>
<div class="purchase-container">
    <h1>购买网络修复服务</h1>
{#    <p>立即购买我们的VPN服务，享受高速、稳定、安全的网络体验。</p>#}
    <p>1. ￥19.00 - 31天</p>
    <p>2. ￥57.00 - 92天</p>
    <p>3. ￥114.00 - 180天</p>
    <p>4. ￥228.00 - 365天</p>

    <div id="actionArea">
        <button id="purchaseButton">立即购买</button>
        <div class="qr-code" id="qrCode">
            <p>请使用微信扫描以下二维码进行付款：</p>
            <img src="https://blog.bornforthis.cn/img/me/img_1.png" alt="付款二维码">
            <button class="login-button" onclick="location.href='{{ url_for('user_login') }}'">用户登录</button>
        </div>
    </div>
</div>

<div id="purchaseModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>请在付款备注中填写您的微信号，以便我们为您开通服务。</p>
        <button id="confirmButton">确认并付款</button>
    </div>
</div>

<script>
    var modal = document.getElementById("purchaseModal");
    var purchaseButton = document.getElementById("purchaseButton");
    var closeModal = document.getElementsByClassName("close")[0];
    var confirmButton = document.getElementById("confirmButton");
    var qrCode = document.getElementById("qrCode");
    var actionArea = document.getElementById("actionArea");

    purchaseButton.onclick = function () {
        modal.style.display = "block";
    }

    closeModal.onclick = function () {
        modal.style.display = "none";
    }

    confirmButton.onclick = function () {
        modal.style.display = "none";
        purchaseButton.style.display = "none";
        qrCode.style.display = "block";
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>
</html>
