<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>订阅信息</title>
    <link rel="icon" href="https://bornforthis.cn/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <nav class="navbar">
        <a href="{{ url_for('index') }}" class="logo">AI悦创·编程1v1</a>
        <ul class="nav-links">
            <li><a href="{{ url_for('index') }}">主页</a></li>
            <li><a href="{{ url_for('user_login') }}">用户登录</a></li>
            <li><a href="{{ url_for('login') }}">管理员登录</a></li>
{#            <li><a href="{{ url_for('purchase') }}">购买</a></li>#}
        </ul>
    </nav>
    <div class="subscription-container">
        <h1>您的订阅信息</h1>

        <div class="remaining-days">
            有效期剩余：<strong>{{ remaining_days }} 天</strong>
        </div>

        <div class="subscription-link">
            <a href="{{ subscription_url }}" target="_blank">{{ subscription_url }}</a>
            <button onclick="copyToClipboard('{{ subscription_url }}')">复制链接</button>
            <div id="copySuccess" class="copy-success">复制成功</div>
        </div>

        <div class="qr-code">
            <img src="{{ url_for('static', filename='qrcodes/' + user.subscription_link + '.png') }}" alt="订阅二维码">
            <div class="qr-code-label">Shadowrocket订阅码</div>
        </div>

        <div class="link-container">
            <a href="{{ url_for('logout') }}" class="logout-link">退出登录</a>
            <a href="purchase" class="purchase-link">购买页面</a>
        </div>
    </div>
</div>

<script>
    function copyToClipboard(text) {
        navigator.clipboard.writeText(text).then(() => {
            const copySuccess = document.getElementById("copySuccess");
            copySuccess.style.opacity = "1";
            copySuccess.style.visibility = "visible";

            setTimeout(() => {
                copySuccess.style.opacity = "0";
                copySuccess.style.visibility = "hidden";
            }, 2000);
        }).catch(err => {
            console.error("复制失败:", err);
        });
    }
</script>
</body>
</html>
